---
BasedOnStyle:  Google
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
AllowShortEnumsOnASingleLine: false
ColumnLimit: 140
IndentPPDirectives: BeforeHash
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: false
PointerAlignment: Right
PointerBindsToType: false
SortIncludes: true
SpacesBeforeTrailingComments: 1
TabWidth: 8
UseTab: Never
...
